# Ignore PyConnect4.egg-info directory
src/PyConnect4.egg-info/

# Ignore __pycache__ directories
__pycache__/

# Ignore build directory
build/

# Ignore .vscode directory
.vscode/

# Ignore dist directory
dist/